# Model name
MODEL_NAME=gemini-2.5-flash-lite
# Model API endpoint
MODEL_ENDPOINT=https://generativelanguage.googleapis.com/v1beta/openai/
# Model API Key
MODEL_API_KEY=
# Model temperature
MODEL_TEMPERATURE=0.25
# Model max output tokens
MODEL_MAX_OUTPUT_TOKENS=4096
# Thresold of reflection
MODEL_REFLECTION_THRESHOLD=3

# Enable LangSmith tracing
LANGSMITH_TRACING=true
# LangSmith endpoint
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
# LangSmith API Key
LANGSMITH_API_KEY=
# LangSmith project name
LANGSMITH_PROJECT=HALLW

# Logging level (DEBUG, INFO, WARNING, ERROR, CRITICAL)
LOGGING_LEVEL=INFO
# Log file directory path (leave empty for console only)
LOGGING_FILE_DIR=logs
# Max size of a single message
MAX_MESSAGE_CHARS=200

# Prefer local chrome over remote debugging instead of Playwright Chromium
# To set to False, run `playwright install chromium` to install Playwright Chromium first
PREFER_LOCAL_CHROME=True
# Persistent chrome user data directory (optional)
CHROME_USER_DATA_DIR=./.chrome_user_data
# Port for Chrome DevTools Protocol
CDP_PORT=9222
# Headless mode for Chrome (False for visible browser)
PW_HEADLESS_MODE=False
# Browser window size for Headed mode
PW_WINDOW_WIDTH=1920
PW_WINDOW_HEIGHT=1080
# Keep browser window open after task completion
KEEP_BROWSER_OPEN=True
# Number of search results to return to LLM
SEARCH_RESULT_COUNT=5
# Max characters to retrieve from page content
MAX_PAGE_CONTENT_CHARS=2000
# Timeout for manual captcha solving in milliseconds
MANUAL_CAPTCHA_TIMEOUT=60000
# Timeout for page navigation in milliseconds
PW_GOTO_TIMEOUT=10000
# Timeout for click actions in milliseconds
PW_CLICK_TIMEOUT=6000
# Timeout for Chrome DevTools Protocol connection in milliseconds
PW_CDP_TIMEOUT=1000

# Base directory for file read operations
FILE_READ_DIR=.
# Base directory for file save operations
FILE_SAVE_DIR=generated_by_hallw/
# Max characters to read from a file
FILE_MAX_READ_CHARS=5000

# Allow HALLW to ask info
ALLOW_ASK_INFO_TOOL=True
# Name of the finish tool
FINISH_TOOL_NAME=finish_task
